/* обнуление */
body{
    background-color: #2d92a8;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html, body{
    height: 100%;
    line-height: 1;
}
/* ///////////////////////////////////////////////////////// */
/* wrapepr */
.wrapper{
    max-width: 1800px;
    margin: 0 auto;
}

/* ------------------------------------header------------------ */
.logo{
    font-family: 'Silkscreen', cursive;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: 25px;
}

/* -----------------------------------main----------------------- */
.container-back{
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1500px;
    max-height: 900px;
}

.block{
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.dublikate-block{
    position: relative;
    left: 15px;
    top: 25px;
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.upper-case, .lower-case, .alphabet-case, .only-number, .special-case{

    line-height: 115px;
    width: 22px;
    height: 30px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

}

.container-back label {
    font-family: 'Bebas Neue', cursive;
} 

 nav{
    position: relative;
    margin-left: 80px;
    line-height: 0.8rem;
    top: 25px;
    color: wheat;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.checkbox-text{
    position: relative;
    margin-left: 35px;
    bottom: 20px;
    font-size: 20px;
}
/*
.upper-text, .str-text, .only-alphabet, .only-number, .spec-symbols{
    font-size: 35px;
    background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
    line-height: 115px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

}

.container-back li a {
    font-family: 'Bebas Neue', cursive;
} */

.ad{
    position: relative;
    width: 500px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 30px;
    border-radius: 30px;
}

.second-ad{
    position: relative;
    width: 500px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    top: 15px;
    left: 15px;
    font-size: 35px;
    text-align: center;
}

.text-from-ad{
    position: relative;
    font-size: 35px;
    top: 80px;
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    color: white;
}
/*-------------------------------------second block---------------------------*/
.second-block{
    float: right;
    width: 900px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.second-dublicate-block{
    position: relative;
    left: 15px;
    top: 25px;
    width: 900px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.buttom-generate{
    position: absolute;
    width: 150px;
    height: 60px;
    background-color: #454ade;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'DynaPuff', cursive;
    top: 400px;
    left: 380px;
    cursor: pointer;


    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 

}

.text-btn{
    margin-top: 20px;
}


.output{
    position: absolute;
    font-size: 35px;
    top: 225px;
    left: 410px;
}

/*---------------------------------range nums--------------------------------*/

.volume{
    position: relative;
    margin-top: 422px;
    margin-left: 185px;
}

.num_volume{
    font-family: 'DynaPuff', cursive;
    position: absolute;
    margin-top: 422px;
    font-size: 19px;
    margin-left: 95px;
    
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

/*---------------------------------images-------------------------------------*/
.copy-icon{
    position: relative;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
    float: right;
    bottom: 29px;
    right: 300px;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.btn-russian{
    cursor: pointer;
    float: right;
    margin-top: 25px;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.btn-ru{
    text-decoration: none;
}

/* --------------------------------loader------------------------------------ */

.loader-item{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #454ade;
    border-radius: 50%;
    animation: loader 1.2s ease-out infinite;
}

.loader-item:nth-child(2)
{
    animation-delay: -0.8s;
}

@keyframes loader{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.loader-first{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 500px;
    display: none;
}

.loader-first._active{
    display: block;
}


.loader-second{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 385px;
    display: none;

}

.loader-second._active{
    display: block;
}


.loader-third{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 270px;
    display: none;

}

.loader-third._active{
    display: block;
}


.loader-four{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 155px;
    display: none;

}

.loader-four._active{
    display: block;
}


.loader-five{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 40px;
    display: none;

}

.loader-five._active{
    display: block;
}


/*------------------------------------advert copy---------------------------*/
.advert{
    width: 200px;
    height: 50px;
    background-color: rgb(104, 67, 218);
    color: white;
    border-radius: 15px;
    position: absolute;
    display: none;
    left: 1555px;
    top: 855px;
}

.copytext{
    margin-top: 16px;
    text-align: center;
    font-size: 15px;
    font-family: 'DynaPuff', cursive;
}

.advert.active{
    display: block;
}
