/* обнуление */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html, body{
    height: 100%;
    line-height: 1;
}

body{
    background-color: #754EA7;
}

html.dark, body.dark{
    background-color: #000;
}


/* -------popup------ */
.hello-popup{
    width: 100%;
    height: 100%;
    background-color: #646464;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 128px;
    color: #fff;
    line-height: 135.5%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 999;
}

.hello-popup.active{
    display: none;
}

.hello-popup span{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 46.5px;
}

@media (max-width: 720px) {
    .hello-popup{
        font-size: 80px;
    }

    .hello-popup span{
        letter-spacing: 30px;
    }
}

@media (max-width: 500px) {
    .hello-popup{
        font-size: 50px;
    }

    .hello-popup span{
        letter-spacing: 20px;
    }
}
/* ------header------ */
header{
    width: 100%;
}
.header.active{
    display: none;
}


.body-header{
    max-width: 1662px;  
    margin: 0 auto;
}

nav{
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 64px;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 46.5px;
}


@media (max-width: 1200px) {
    .body-header{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .body-header{
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .body-header{
        max-width: none;
        margin: 0 30px;
    }
    .header-logo{
        font-size: 35px;
        letter-spacing: 30px;
    }
}
@media (max-width:340px) {
    .header-logo{
        letter-spacing: 20px;
    }
    
}

/* ----header burger */
.header-burger{
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
}

.header-burger::after,
.header-burger::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 5.77px;
    border-radius: 15px;
}

.header-burger:after{   
    top: 0;
}

.header-burger::before{ 
    bottom: 0;
}

.header-burger span{
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 5.77px;
    top: 9px;
    border-radius: 15px;
}

/* ----btn theme */
.btn-theme{
    cursor: pointer;
}
/* -------main------- */

.main.active{
    display: none;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-container{
    max-width: 1487px;
    max-height: 662px;
}

.block{
    width: 1487px;
    height: 662px;
    border-radius: 55px;
    background-color: #c0c0c0;
}

.block.dark{
    background-color: rgb(95, 95, 95);
}

@media (max-width: 1200px) {
    .body-container{
        max-width: 970px;
    }
    .block{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .body-container{
        max-width: 750px;
    }

    .block{
        max-width:750px;
        border-radius: 0px;
        background-color: #754EA7;
    }

    .block.dark{
        max-width:750px;
        
        border-radius: 0px;
        background-color: rgb(0, 0, 0);
    }
}
@media (max-width: 767px) {
    .body-container{
        max-width: none;
        height: 1000px;
    }

    .block{
        max-width:500px; 
        height: 830px;

    }
}

@media (max-width:500px) {
    .block{
        width: 320px;
        border-radius: 5px;
    }
}

/* -----logo */

.container-logo-text{
    text-align: center;
    padding-top: 50px;
}

.logo-text-tool{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ff0000;
    font-size: 24px;
    text-transform: uppercase;
}

.logo-text-name{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 27px;
    color: #000;
    font-size: 34px;
}

.logo-text-name.dark{
    color: #fff;
}

@media (max-width: 767px) {
    .logo-text-tool{
        font-size: 35px;
    }
    .logo-text-name{
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .logo-text-tool{
        font-size: 20px;
    }
    .logo-text-name{
        font-size: 17px;
    }
}

/* -----btn help */
.cotaniener-flex-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon-info{
    position: absolute;
    margin-left: 1200px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container-icon-info{
        margin-left: 800px;
    }
}
@media (max-width: 992px) {
    .container-icon-info{
        display: none;
    }

}
/* @media (max-width: 992px) {
    .container-icon-info{
        right: 100px;
    }

}
@media (max-width: 767px) {
    .container-icon-info{
        top: 320px;
        margin-right: 33%;
    }
}

@media (max-width: 500px) {
    .container-icon-info{
        margin-right: 15%;
    }
} */

.light{
    display: none;
}

@media (max-width:990px) {
    .light.nope{
        display: block;
    }

    .black.nope{
        display: none;
    }
}

/* ------container info------ */
.container-info{
    display: none;
    position: absolute;
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 999;
    border-radius: 15px;
    left: 36%;
    top: 30%;
}

.container-info.active{
    display: block;
    transition: .8s;
}

.body-container-info{
    max-width: 400px;
    display: grid;
    padding-left: 25px;
}

.logo-container-info{
    color: #fff;
    padding-top: 25px;
    font-size: 25px;
}

.how-work-info{
    padding-top: 15px;
    color: #fff;
    line-height: 29px;
    font-size: 22px
}

.warning-info{
    color: rgb(255, 0, 0);
    padding-top: 25px;
    font-size: 30px;
}

.text-warning-info{
    color: rgb(255, 0, 0);
    padding-top: 15px;
    line-height: 29px;
    font-size: 22px
}

.btn-close-info{
    position: absolute;
    margin-left: 450px;
    margin-top: 25px;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .container-info{
        left: 30%;
    }
}
@media (max-width: 992px) {
    .container-info{
        left: 20%;
    }
}
@media (max-width: 767px) {
    .container-info{
        left: 10%;
        width: 400px;
    }
    .btn-close-info{
        margin-left: 350px;
    }
}
@media (max-width:500px) {
    .container-info{
        left: 3%;
        width: 300px;
    }
    .btn-close-info{
        margin-left: 260px;
    }
}
/* -----mono */
.container-mono{
    display: flex;
    align-items: center;
    padding-top: 148px;
    padding-left: 120px
}

@media (max-width:767px) {
    .container-mono{
        display: grid;
        justify-content: center;
        padding-left: 0px;
    }   

    .container-btn{
        justify-content: center;
        padding-top: 25px;
    }
}

.container-btn{
    display: flex;
}

.textbox{
    width: 711px;
    height: 73px;
    background-color: #c0c0c0;
    border: 3px solid #000;

    font-size: 35px;
    padding: 15px;
}

@media (max-width: 1200px) {
    .textbox{
        max-width: 511px;
    }
}
@media (max-width: 992px) {
    .textbox{
        max-width: 311px;
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .body-container{
        max-width: none;
    }
}

.btn-generate{
    margin-left: 44px;
    cursor: pointer;
    transition: .5s;
}

@media (max-width:767px) {
    .btn-generate{
        margin-left: 0px;   
    }   
}

.btn-generate:hover{
    transform: rotate(-90deg);
}

.btn-copy{
    margin-left: 50px;
    cursor: pointer;
}

.gen-light{
    display: none;
}

.icon-light-copy{
    display: none;
}

@media (max-width:990px) {
    .gen-black.nope{
        display: none;
    }

    .gen-light.nope{
        display: block;
    }

    .icon-black-copy.nope{
        display: none;
    }

    .icon-light-copy.nope{
        display: block;
    }
}


/* -----length */
.container-tool{
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    padding-left: 120px;
    padding-right: 150px;
}

@media (max-width: 767px) {
    .container-tool{
        display: grid;
        justify-content: center;
    }
    .conntainer-checkbox{
        padding-top: 50px;
    }
}

.logo-container-length{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 30px;
    padding-bottom: 30px;
}

.logo-container-length.dark{
    color: #fff;
}

.container-range{
    display: flex;
}

.container-range input{
    margin-left: 20px;
}

.num.dark, .sym.dark,
.upper.dark, .lower.dark{
    color: #fff;
}

.range-lenth {
    margin-top: 10px;
    border-radius: 15px;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding-left: 5px;
    padding-right: 5px;
}

.range-lenth:hover {
    opacity: 1;
}

.range-lenth::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
}

.num-range{
    width: 78px;
    height: 52px;
    border-radius: 5px;
    background-color: #d9d9d9;
    border: .4 solid #ACACAC;

    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #000;
    padding-left: 35px;
    padding-top: 8px;
}

@media (max-width: 767px) {
    .logo-container-length{
        text-align: center;
    }
    .num-range{
        display: none;
    }

}

/* -----checkbox */
.container-checkbox{
    display: flex;
    z-index: 1;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

@media (max-width: 767px) {
    .container-checkbox{
        display: grid;
        justify-content: center;
        padding-top: 25px;
    }
}

.body-container-checkbox{
    display: flex;
}

@media (max-width: 767px) {
    .body-container-checkbox{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 5px;
    }
}

.main-first-block-checkbox{
    margin-right: 26px;
}

.main-first-block-checkbox,
.main-second-block-checkbox{
    display: grid;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #000;
    mix-blend-mode: normal;
    text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
}

.num, .sym, .upper, .lower{
    cursor: pointer;
    transition: .8s;
    padding-top: 15px;
}

.num:hover, .sym:hover, .upper:hover, .lower:hover{
    color: rgb(255, 0, 0);
}


@media (max-width: 992px) {
    .main-first-block-checkbox,
    .main-second-block-checkbox{
        font-size: 20px;
    }

    .main-first-block-checkbox{
        margin-right: 15px;
    }
}

@media (max-width:767px) {
    .main-first-block-checkbox,
    .main-second-block-checkbox{
        font-size: 25px;
    }
}

.checkbox-num,
.checkbox-sym,
.checkbox-upper,
.checkbox-lower{
    display: none;
}


/* -----theme */
.btn-theme-moon.active{
    display: none;
}

.sun.active{
    display: block;
}

.sun{
    display: none;
}

/* ------footer------ */
footer{
    width: 100%;
    height: 165px;
    padding-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer.active{
    display: none;
}

.body-footer{
    display: flex;
    align-items: center;
}

.name-telegram{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #fff;
    padding-left: 17px;
}

@media (max-width: 992px) {
    footer{
        padding-top: 35px;
    }

}
@media (max-width: 767px) {
    .body-container{
        max-width: none;
    }

}
