/* обнуление */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html, body{
    height: 100%;
    line-height: 1;
    background-color: #754EA7;
}


/* -------popup------ */
.hello-popup{
    width: 100%;
    height: 100%;
    background-color: #646464;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 128px;
    color: #fff;
    line-height: 135.5%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 999;
}

.hello-popup.active{
    display: none;
}

.hello-popup span{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 46.5px;
}

@media (max-width: 720px) {
    .hello-popup{
        font-size: 80px;
    }

    .hello-popup span{
        letter-spacing: 30px;
    }
}

@media (max-width: 500px) {
    .hello-popup{
        font-size: 50px;
    }

    .hello-popup span{
        letter-spacing: 20px;
    }
}
/* ------header------ */
header{
    width: 100%;
}
.header.active{
    display: none;
}

.body-header{
    max-width: 1662px;  
    margin: 0 auto;
}

nav{
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 64px;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 46.5px;
}


@media (max-width: 1200px) {
    .body-header{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .body-header{
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .body-header{
        max-width: none;
        margin: 0 30px;
    }
    .header-logo{
        font-size: 35px;
        letter-spacing: 30px;
    }
}
@media (max-width:340px) {
    .header-logo{
        letter-spacing: 20px;
    }
    
}

/* ----header burger */
.header-burger{
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
}

.header-burger::after,
.header-burger::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 5.77px;
    border-radius: 15px;
}

.header-burger:after{   
    top: 0;
}

.header-burger::before{ 
    bottom: 0;
}

.header-burger span{
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 5.77px;
    top: 9px;
    border-radius: 15px;
}

/* ----btn theme */
.btn-theme{
    cursor: pointer;
}
/* -------main------- */

.main.active{
    display: none;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-container{
    max-width: 1487px;
    max-height: 662px;
}

.block{
    width: 1487px;
    height: 662px;
    border-radius: 55px;
    background-color: #c0c0c0;
}

@media (max-width: 1200px) {
    .body-container{
        max-width: 970px;
    }
    .block{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .body-container{
        max-width: 750px;
    }

    .block{
        max-width:750px; 
    }
}
@media (max-width: 767px) {
    .body-container{
        max-width: none;
        height: 1000px;
    }

    .block{
        max-width:500px; 
        height: 830px;

    }
}

@media (max-width:500px) {
    .block{
        width: none;
    }
}

/* -----logo */

.container-logo-text{
    text-align: center;
    padding-top: 50px;
}

.logo-text-tool{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ff0000;
    font-size: 24px;
    text-transform: uppercase;
}

.logo-text-name{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 27px;
    color: #000;
    font-size: 34px;
}

@media (max-width: 767px) {
    .logo-text-tool{
        font-size: 35px;
    }
    .logo-text-name{
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .logo-text-tool{
        font-size: 20px;
    }
    .logo-text-name{
        font-size: 17px;
    }
}

/* -----mono */
.container-mono{
    display: flex;
    align-items: center;
    padding-top: 148px;
    padding-left: 120px
}

@media (max-width:767px) {
    .container-mono{
        display: grid;
        justify-content: center;
        padding-left: 0px;
    }   

    .container-btn{
        justify-content: center;
        padding-top: 25px;
    }
}

.container-btn{
    display: flex;
}

.textbox{
    width: 711px;
    height: 73px;
    background-color: #c0c0c0;
    border: 3px solid #000;

    font-size: 35px;
    padding: 15px;
}

@media (max-width: 1200px) {
    .textbox{
        max-width: 511px;
    }
}
@media (max-width: 992px) {
    .textbox{
        max-width: 311px;
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .body-container{
        max-width: none;
    }
}

.btn-generate{
    margin-left: 44px;
    cursor: pointer;
    transition: .5s;
}

@media (max-width:767px) {
    .btn-generate{
        margin-left: 0px;   
    }   
}

.btn-generate:hover{
    transform: rotate(-90deg);
}

.btn-copy{
    margin-left: 50px;
    cursor: pointer;
}


/* -----length */
.container-tool{
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    padding-left: 120px;
    padding-right: 150px;
}

@media (max-width: 767px) {
    .container-tool{
        display: grid;
        justify-content: center;
    }
    .conntainer-checkbox{
        padding-top: 50px;
    }
}

.logo-container-length{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 30px;
    padding-bottom: 30px;
}

.container-range{
    display: flex;
}

.container-range input{
    margin-left: 9px;
}

.num-range{
    width: 78px;
    height: 52px;
    border-radius: 5px;
    background-color: #d9d9d9;
    border: .4 solid #ACACAC;

    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #000;
    padding-left: 35px;
    padding-top: 8px;
}

/* -----checkbox */
.container-checkbox{
    display: flex;
    z-index: 1;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

@media (max-width: 767px) {
    .container-checkbox{
        display: grid;
        justify-content: center;
        padding-top: 25px;
    }
}

.body-container-checkbox{
    display: flex;
}

@media (max-width: 767px) {
    .body-container-checkbox{
        display: grid;
        justify-content: center;
        text-align: center;
        padding-top: 5px;
    }
}

.main-first-block-checkbox{
    margin-right: 26px;
}

.main-first-block-checkbox,
.main-second-block-checkbox{
    display: grid;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #870d0d;
    mix-blend-mode: normal;
    text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
}

.num, .sym, .upper, .lower{
    cursor: pointer;
    transition: .8s;
    padding-top: 15px;
}

.num:hover, .sym:hover, .upper:hover, .lower:hover{
    color: #25870D;
}

.num.active, .sym.active, .upper.active, .lower.active{
    color: #25870D;
}

@media (max-width: 992px) {
    .main-first-block-checkbox,
    .main-second-block-checkbox{
        font-size: 20px;
    }

    .main-first-block-checkbox{
        margin-right: 15px;
    }
}

@media (max-width:767px) {
    .main-first-block-checkbox,
    .main-second-block-checkbox{
        font-size: 25px;
    }
}

.checkbox-num,
.checkbox-sym,
.checkbox-upper,
.checkbox-lower{
    display: none;
}

/* .main-container-checkbox-first{
    display: grid;
    padding-right: 75px;
}

.container-first-checkbox-first{
    display: flex;
    align-items: center;
}

.checkbox-tool{
    appearance: none;
    -webkit-appearance: none;
}

.checkbox-tool:checked + .name-checkbox::after{
    opacity: 1;
}


.main-container-checkbox-first label::before,
.main-container-checkbox-second label:before{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #fff;

    position: relative;
    z-index: 1;
    position: absolute;

}

.main-container-checkbox-first label::before{
    left: 1100px;
}

.container-first-checkbox-first label:before{
    top: 535px;
}

.container-second-check-first label:before{
    top: 597px;
}

.main-container-checkbox-second label::before{
    left: 1330px;
}

.contaiener-first-checkbox-second label:before{
    top: 535px;
}

.container-second-check-second label:before{
    top: 597px;
}


.main-container-checkbox-first label::after,
.main-container-checkbox-second label::after{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url('../images/done-check.png') no-repeat;
    background-size: 16px 16px;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.main-container-checkbox-first label::after{
    left: 1118px;
}

.container-first-checkbox-first label:after{
    top: 550px;
}

.container-second-check-first label:after{
    top: 612px;
}

.main-container-checkbox-second label::after{
    left: 1348px;
}

.contaiener-first-checkbox-second label:after{
    top: 550px;
}

.container-second-check-second label:after{
    top: 612px;
}



.container-first-checkbox-first .name-checkbox{
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #870D0D;
    box-shadow: 7 4 4 rgba(0, 0, 0, .25);
}

.container-second-check-first{
    display: flex;
    align-items: center;

}

.container-second-check-first .name-checkbox{
    padding-left: 15px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #870D0D;
    box-shadow: 7 4 4 rgba(0, 0, 0, .25);
}

.main-container-checkbox-second{
    display: grid;
}

.contaiener-first-checkbox-second{
    display: flex;
    align-items: center;

}

.contaiener-first-checkbox-second .name-checkbox{
    padding-left: 15px;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #870D0D;
    box-shadow: 7 4 4 rgba(0, 0, 0, .25);
}

.container-second-check-second{
    display: flex;
    align-items: center;

}

.container-second-check-second .name-checkbox{
    padding-left: 15px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #870D0D;
    box-shadow: 7 4 4 rgba(0, 0, 0, .25);
}


.container-second-check-first{
    padding-top: 25px;
}

.container-second-check-second{
    padding-top: 25px;
} */
/* ------footer------ */
footer{
    width: 100%;
    height: 165px;
    padding-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer.active{
    display: none;
}

.body-footer{
    display: flex;
    align-items: center;
}

.name-telegram{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #fff;
    padding-left: 17px;
}


@media (max-width: 992px) {
    footer{
        padding-top: 35px;
    }
}
@media (max-width: 767px) {
    .body-container{
        max-width: none;
    }
    footer{
        padding-top: 250px;
        padding-bottom: 55px;
    }
}




















/* .wrapper{
    max-width: 1800px;
    margin: 0 auto;
} */

/* ------------------------------------header------------------ */
/* .logo{
    font-family: 'Silkscreen', cursive;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: 25px;
} */

/* -----------------------------------main----------------------- */
/* .container-back{
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1500px;
    max-height: 900px;
}

.block{
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.dublikate-block{
    position: relative;
    left: 15px;
    top: 25px;
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.upper-case, .lower-case, .alphabet-case, .only-number, .special-case{

    line-height: 115px;
    width: 22px;
    height: 30px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

}

.container-back label {
    font-family: 'Bebas Neue', cursive;
} 

 nav{
    position: relative;
    margin-left: 80px;
    line-height: 0.8rem;
    top: 25px;
    color: wheat;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.checkbox-text{
    position: relative;
    margin-left: 35px;
    bottom: 20px;
    font-size: 20px;
}

.ad{
    position: relative;
    width: 500px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 30px;
    border-radius: 30px;
}

.second-ad{
    position: relative;
    width: 500px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    top: 15px;
    left: 15px;
    font-size: 35px;
    text-align: center;
}

.text-from-ad{
    position: relative;
    font-size: 35px;
    top: 80px;
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    color: white;
} */
/*-------------------------------------second block---------------------------*/
/* .second-block{
    float: right;
    width: 900px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.second-dublicate-block{
    position: relative;
    left: 15px;
    top: 25px;
    width: 900px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.buttom-generate{
    position: absolute;
    width: 150px;
    height: 60px;
    background-color: #454ade;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'DynaPuff', cursive;
    top: 400px;
    left: 380px;
    cursor: pointer;


    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 

}

.text-btn{
    margin-top: 20px;
}


.output{
    position: absolute;
    font-size: 35px;
    top: 225px;
    left: 410px;
} */

/*---------------------------------range nums--------------------------------*/

/* .volume{
    position: relative;
    margin-top: 422px;
    margin-left: 185px;
}

.num_volume{
    font-family: 'DynaPuff', cursive;
    position: absolute;
    margin-top: 422px;
    font-size: 19px;
    margin-left: 95px;
    
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
} */

/*---------------------------------images-------------------------------------*/
/* .copy-icon{
    position: relative;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
    float: right;
    bottom: 29px;
    right: 300px;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.btn-russian{
    cursor: pointer;
    float: right;
    margin-top: 25px;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.btn-ru{
    text-decoration: none;
} */

/* --------------------------------loader------------------------------------ */

/* .loader-item{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #454ade;
    border-radius: 50%;
    animation: loader 1.2s ease-out infinite;
}

.loader-item:nth-child(2)
{
    animation-delay: -0.8s;
}

@keyframes loader{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.loader-first{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 500px;
    display: none;
}

.loader-first._active{
    display: block;
}


.loader-second{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 385px;
    display: none;

}

.loader-second._active{
    display: block;
}


.loader-third{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 270px;
    display: none;

}

.loader-third._active{
    display: block;
}


.loader-four{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 155px;
    display: none;

}

.loader-four._active{
    display: block;
}


.loader-five{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 350px;
    bottom: 40px;
    display: none;

}

.loader-five._active{
    display: block;
} */


/*------------------------------------advert copy---------------------------*/
/* .advert{
    width: 200px;
    height: 50px;
    background-color: rgb(104, 67, 218);
    color: white;
    border-radius: 15px;
    position: absolute;
    display: none;
    left: 1555px;
    top: 855px;
}

.copytext{
    margin-top: 16px;
    text-align: center;
    font-size: 15px;
    font-family: 'DynaPuff', cursive;
}

.advert.active{
    display: block;
} */

/*-------------------------------theme------------------------------*/
/* .theme-mode{
    position: relative;
    float: right;
    margin-top: 25px;
    cursor: pointer;
    
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
} */